@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 16px*62.5%=10px */
}

body {
  color: #333333;
  font-size: 1.6rem;
  /* 10px*1.6=16px; */
  letter-spacing: 0.1em;
  font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic",Osaka,sans-serif,Helvetica,Helvetica Neue,Arial,Verdana;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* padding,marginがない要素もあるので、絞って内部・外部余白をリセット */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* テーブルのボーダーを一本化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 古いブラウザで起こりがちな画像の周りにブルーの線がつくのを防ぐ */
fieldset, img {
  border: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #3c3c3e;
}

.mv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 50px;
}

.mv .item {
  font-size: 5vw;
  font-weight: bold;
}

.mv .is-font1 {
  font-family: 'Roboto', sans-serif;
}

.mv .is-font2 {
  font-family: 'Gaegu', cursive;
}

.mv .is-font3 {
  font-family: 'Merienda', cursive;
}

.mv .is-font4 {
  font-family: 'Oswald', sans-serif;
}

.mv .is-font5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.mv .is-font6 {
  font-family: 'Markazi Text', serif;
}

.mv .is-font7 {
  font-family: 'Titillium Web', sans-serif;
}

.mv .is-font8 {
  font-family: 'Chela One', cursive;
}

.mv .is-font9 {
  font-family: 'Indie Flower', cursive;
}

.mv .is-font10 {
  font-family: 'Anton', sans-serif;
}
