// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

html {
	font-size: 10px;
	@include mq(321px, 1000px) {
		font-size: (10 / $base_width) * 100vw;
	}
	font-family: $font;
	color: $color-text;
	background-color: $color-bg;
}

.main-tit, .tit, .txt {
	margin: 3rem;
}

.main-tit {
	letter-spacing: 0.25rem;
}

.txt {
	letter-spacing: 0.05em;
}

.tit {
	font-size: 3rem;
	font-weight: bold;
}

.n1 {
	font-size: 3rem;
	@include mq(321px, 1000px) {
		font-size: fs1(30);
	}
}

.n2 {
	font-size: 3rem;
	@include mq(321px, 1000px) {
		font-size: fs2(30);
	}
}

.n3 {
	font-size: 3rem;
	@include mq(321px, 1000px) {
		font-size: fs3(30);
	}
}

.images {
	display: flex;
	.images-item {
		width: calc(100% / 3);
		img {
			width: 100%;
		}
	}
	&.ratio1 {
		width: fs1(1000);
	}
	&.ratio2 {
		width: fs2(1000);
	}
	&.ratio3 {
		width: fs3(1000);
	}
}