@charset "UTF-8";
html, body {
  height: 100%;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* padding,marginがない要素もあるので、絞って内部・外部余白をリセット */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* テーブルのボーダーを一本化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 古いブラウザで起こりがちな画像の周りにブルーの線がつくのを防ぐ */
fieldset, img {
  border: 0;
}

html {
  font-size: 10px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS Pgothic", Osaka, sans-serif, Helvetica, Helvetica Neue, Arial, Verdana;
  color: #333333;
  background-color: #ffffff;
}

@media (min-width: 321px) and (max-width: 1000px) {
  html {
    font-size: 1vw;
  }
}

.main-tit, .tit, .txt {
  margin: 3rem;
}

.main-tit {
  letter-spacing: 0.25rem;
}

.txt {
  letter-spacing: 0.05em;
}

.tit {
  font-size: 3rem;
  font-weight: bold;
}

.n1 {
  font-size: 3rem;
}

@media (min-width: 321px) and (max-width: 1000px) {
  .n1 {
    font-size: 3rem;
  }
}

.n2 {
  font-size: 3rem;
}

@media (min-width: 321px) and (max-width: 1000px) {
  .n2 {
    font-size: calc(1.5rem + 15px);
  }
}

.n3 {
  font-size: 3rem;
}

@media (min-width: 321px) and (max-width: 1000px) {
  .n3 {
    font-size: 30px;
  }
}

.images {
  display: flex;
}

.images .images-item {
  width: calc(100% / 3);
}

.images .images-item img {
  width: 100%;
}

.images.ratio1 {
  width: 100rem;
}

.images.ratio2 {
  width: calc(50rem + 500px);
}

.images.ratio3 {
  width: 1000px;
}
