// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #2c3573;
}
.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d; // 餈質
	perspective: 500px; //餈質
	#ball {
		background-color: #EF594D;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
