// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.mv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #1b2920;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	.text {
		font-size: 0;
        font-style: italic;
        color: #FFF;
		span {
			font-size: 12vw;
			display: inline-block;
		}
	}
}

.attention {
	position: fixed;
	width: 100%;
	height: 100%;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	letter-spacing: 0.05em;
}

.dummy_height {
	position: absolute;
	top: 5000px;
	width: 1px;
	height: 1px;
}

