//--------------------------------------------
//
//	リセットCSSや要素の基本となるCSSを格納
//
//--------------------------------------------

// scss
@import "../setting/_variables";
@import "../mixin/_mixin";


html,body {
	height: 100%;
	min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}