//--------------------------------------------
//
//	変数を格納
//
//--------------------------------------------

@charset "UTF-8";

// ブレークポイント
$bq01: 320;

// 切り替えの基準
$base_width: 1000;

// フォント関係の設定
    // 書体 
    $font: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic",Osaka,sans-serif,Helvetica,Helvetica Neue,Arial,Verdana;

// 色関係の設定
    // サイトカラー
    $color-main: #ffffff;
    // フォントカラー
    $color-text: #333333;
    // リンクカラー
    $color-link: #ffffff;
    // 背景カラー
    $color-bg: #ffffff;