// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.accordion {
	background-color: gray;
	padding: 5rem 0;
	.container {
		width: 60%;
		margin: 0 auto;
		transition: all 0.3s ease 0s;
		.accordion-tit {
			color: #ffffff;
			margin-bottom: 2rem;
			font-weight: bold;
		}
		.wrapper {
			background-color: #fff;
			margin-bottom: 2rem;
			border-radius: 1rem;
			padding: 2rem;
			user-select: none;
			transition: 0.4s;
			cursor: pointer;
				.wrapper-txt_a {
					background-color: #000;
					color: #fff;
					border-radius: 1rem;
					padding: 2rem;
					display: none;
					margin-top: 2rem;
					transition: 0.4s;
					&.active {
						display: block;
						transition: 0.4s;
					}
				}
		}
	}
}